<div class="container-fluid min-vh-100 d-flex" *ngIf="cards$ | async as cards">
  <div class="container p-0 m-auto">
    <div class="row">
      <div class="col-12 px-0">
        <swiper-container appSwiper #swiper [config]="swiperConfig">
          <swiper-slide *ngFor="let card of cards">
            <app-card [card]="card" />
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid min-vh-100 d-flex">
  <div class="container p-0 m-auto">

    <div class="row">
      <div class="col-6 px-0">

        <div class="card mb-3" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

        <div class="card text-center mb-3" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

        <div class="card text-end" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

      </div>

      <div class="col-6 px-0">

        <ul class="list-group">
          <li class="list-group-item">A simple default list group item</li>

          <li class="list-group-item list-group-item-primary">A simple primary list group item</li>
          <li class="list-group-item list-group-item-secondary">A simple secondary list group item</li>
          <li class="list-group-item list-group-item-success">A simple success list group item</li>
          <li class="list-group-item list-group-item-danger">A simple danger list group item</li>
          <li class="list-group-item list-group-item-warning">A simple warning list group item</li>
          <li class="list-group-item list-group-item-info">A simple info list group item</li>
          <li class="list-group-item list-group-item-light">A simple light list group item</li>
          <li class="list-group-item list-group-item-dark">A simple dark list group item</li>
        </ul>

      </div>
    </div>

  </div>
</div>